---
layout: default
---
<article class="post">


  <script type="text/javascript">
  
  async function getDownloadURLs() {  
    const a = await fetch("https://api.github.com/repos/freeway-rbx/freeway/releases/latest") 
    const b = await a.json()
    const macAssets = b.assets.filter((asset) => asset.name.endsWith(".dmg"))
    const macDownloadUrl = macAssets[0].browser_download_url
    const winAssets = b.assets.filter((asset) => asset.name.endsWith("setup.exe"))
    const winDownloadUrl = winAssets[0].browser_download_url

    document.getElementById('macDownloadLink').href = macDownloadUrl;
    document.getElementById('winDownloadLink').href = winDownloadUrl;

    document.getElementById('macDownloadLinkFooter').href = macDownloadUrl;
    document.getElementById('winDownloadLinkFooter').href = winDownloadUrl;

  }


  getDownloadURLs()
  </script>

  <style type="text/css">
     a.buttonLink {
      background-color: #CECD07;
      box-shadow: 0 5px 0 darkred;
      padding: 1em 1.5em;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
    }

    a.buttonLink:hover {
      background-color: #ce0606;
      cursor: pointer;
    }

    a.buttonLink:active {
      box-shadow: none;
      top: 5px;
    }

  </style>
  <div class="post-content">
    <img src="media/freeway.png" width="200" height="200">
    <a id="macDownloadLink" class="buttonLink" href="https://github.com/freeway-rbx/freeway/releases/latest"><u>Dowload for Mac</u></a>
    <a id="winDownloadLink" class="buttonLink" href="https://github.com/freeway-rbx/freeway/releases/latest"><u>Dowload for Windows</u></a>
    <a href="https://github.com/freeway-rbx/freeway"><u>GitHub</u></a>
    <a href="https://discord.gg/hDwxAhKN7G">Discord</a>
    {{ content }}
  </div>

</article>
